.graph-card {
  background: var(--ion-color-dark-200);
  min-height: 15.313rem;
  border-radius: 1.563rem;
  padding: 1rem;
  margin-bottom: 1.2rem;
  position: relative;
}

.title {
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: block;
}
